---
title: Projects
---

# Things I've built

<h3 id="devdocs"><a href="https://devdocs.io">DevDocs</a> (2013&ndash;2019)</h3>

All-in-one, <a href="https://github.com/Thibaut/devdocs">open-source</a> API documentation browser with fast search and offline mode.

**2015&ndash;present:**

<%= partial :gallery, locals: { folder: 'devdocs', hidpi_only: true, names: %w(welcome doc sidebar search search-2 category preferences offline guide guide-2 about dark dark-preferences mobile mobile-doc mobile-search mobile-pref twitter) } %>

**2013&ndash;2014 design:**

<%= partial :gallery, locals: { folder: 'devdocs-old', hidpi: true, names: %w(welcome page search sidebar results pick-docs shortcuts tips about disabled single-doc index mobile-welcome mobile-sidebar mobile-page mobile-pick-docs mobile-results mobile-single-doc) } %>

<h3 id="cssflow">CSSFlow (2012&ndash;2016)</h3>

CSS code snippets and UI kits for web developers.

<%= partial :gallery, locals: { folder: 'cssflow', hidpi: true, names: %w(home snippets snippet demo demo-code kits kit-clarity kit-flat kit-mobile kit-colorful kit-dark kit-graphite kit-clarity-demo kit-colorful-demo snippets-buy buy thanks search tag faq home-tablet home-mobile snippets-mobile snippet-mobile kits-mobile github) } %>

<h3 id="timepad">TimePad (2012)</h3>

A web app to track and analyze how you spend your day.

<%= partial :gallery, locals: { folder: 'timepad', names: %w(entries-day entries-current-new entries-current report-day report-week report-pick activities activity-week home blog entries-edit entries-new-validation activity-edit help offline offline-unavailable wait wait-privacy logout logout-loading welcome welcome-today settings-export settings-password forgot-password email unsupported loading) } %>

<h3 id="webinterfacelab">WebInterfaceLab (2012)</h3>

The first and second version of WebInterfaceLab (renamed CSSFlow in February 2013).

<%= partial :gallery, locals: { folder: 'webinterfacelab-v2', names: %w(home snippets snippet kits download demo demo-html demo-scss about) } %>

<%= partial :gallery, locals: { folder: 'webinterfacelab-v1', names: %w(homepage snippet demo kits-1 kits-2 simple-kit elegant-kit faq snippets blog about) } %>

> Ever tried. Ever failed. No matter. Try again. Fail again. Fail better.
<small>Samuel Beckett</small>

<h3 id="socially">Socially (2011)</h3>

The simple and private way to share with the people you care about.

<%= partial :gallery, locals: { folder: 'socially', names: %w(home homepage new-message friends profile new-friend-list edit-list edit-lists welcome-1 welcome-2 welcome-2-2 welcome-3 welcome-home add-friends friend-requests invitation notifications home-new edit-profile edit-info edit-info-updated edit-notifications close-account login email-welcome email-message email-invitation email-invitation-2) } %>

<h3 id="atfamily">AtFamily (2010)</h3>

A private social network for families.

<%= partial :gallery, locals: { folder: 'atfamily', names: %w(dashboard calendar messages message photos profile upload new-message new-event calendar-events settings chat login) } %>

<h3 id="teamly">Teamly (2010)</h3>

A new kind of productivity tool that helps you and your staff move beyond your mile-long to-do lists and focus on the truly important stuff — your top 5 priorities for the day, week and month.

<%= partial :gallery, locals: { folder: 'teamly', names: %w(priorities homepage tour stats tasks team team-priorities uncompleted profile-stats users settings notifications priorities-edit account invitations login news signup testimonials) } %>

<h3 id="teamly">thibaut.me (2010)</h3>

My first personal blog.

<%= partial :gallery, locals: { folder: 'thibaut-me-v1', names: %w(index mission portfolio journal essays book-reviews) } %>

<h3 id="teamly-chat">Teamly (2009)</h3>

A web-based chat &amp; collaboration tool that combined instant messaging, task management, and status updates into a single application.

<%= partial :gallery, locals: { folder: 'teamly-chat', names: %w(tasks homepage dashboard app files notifications tour pricing welcome status completed-tasks account settings profile members login dashboard-new blog contact) } %>

<h3 id="widea">Widea (2009)</h3>

An idea management app whose goal was to help you define and document projects before starting them.
It had a cool slogan: *Make Your Ideas Happen*.

<%= partial :gallery, locals: { folder: 'widea', names: %w(idea dashboard ideas projects share shared-idea images milestones tasks tasks-new links code-snippets code-snippet files edit-idea new-code-snippet new-project idea-public welcome account settings profile login) } %>

<h3 id="macspirit">MacSpirit (2009)</h3>

A French news site and community dedicated to Apple products and software. The goal was to provide a powerful news aggregator while publishing in-depth articles and analyses. I also did some work on a Software/Apps database.

<%= partial :gallery, locals: { folder: 'macspirit', names: %w(homepage feeds news-index homepage-user software news software-index software-screenshots software-updates write forum about admin) } %>

<h3 id="warlords">Warlords (2006)</h3>

An online massively multiplayer browser game I built when I was in high school.
It wasn't massively played but was cool anyway.

<%= partial :gallery, locals: { folder: 'warlords', names: %w(dashboard planet market galaxy construction construction-2 research training finance settings forum) } %>

> The greatest achievement was, at first, and for a time, but a dream.
<small>Napoleon Hill</small>
